<div class="container"> 
    <!-- na tag que chama o template que contem os eventos de clique, devemos passar dois parâmetros 
      o primeiro (serverCreated) é o que indica o nome da variável no componente que está emitindo o conteúdo que está enviando  no botão
      o segundo é o nome do evento nesse componente, e irá processar os dados 
    -->
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>

